{% extends "layout.twig" %}
{% block content %}

    <div class="page-header">
        <h1 class="display-1">
            <small>{{ icon('wrench') }} Tools - {{ icon('table') }} <code>Collection</code></small>
        </h1>
    </div>

    <div class="alert alert-info">
        Permet de gérer une liste de données.
    </div>

    <div class="row">

        <div class="col-12">
            <h2>Obtenir une instance</h2>
            <hr/>
            <p class="lead">Il existe plusieurs méthodes pour obtenir une instance d'une collection, en fonction du type de liste passée en paramètre.</p>
        </div>

        <div class="col-12">
            <hr/>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <h3>Chaîne de caractères avec séparateur</h3>
<pre class="sh_php">
 // Liste au format texte avec séparateur
 $paramIn = 'ola,ole,oli';
 $c1 = new Collection($paramIn);
</pre>
            {{ r(c1.toArray) }}
        </div>

        <div class="col-6">
            <h3>Chaîne de caractères au format json</h3>
<pre class="sh_php">
 // Tableau indicé qui contient des entités
 $json = [{"name":"Mathis","year":2007,"genre":"male"},{"name":"Rapha\u00ebl","year":2007,"genre":"male"},{"name":"Clara","year":2009,"genre":"female"}];
 $c4 = new Collection($json);
</pre>
            {{ r(c4.toArray) }}
        </div>

        <div class="col-6">
            <h3>Tableau simple indicé</h3>
<pre class="sh_php">
 // Liste sous forme de tableau
 $paramIn = ['ola', 'ole', 'oli'];
 $c2 = new Collection($paramIn);
</pre>
            {{ r(c2.toArray) }}
        </div>

        <div class="col-6">
            <h3>Tableau associatif</h3>
<pre class="sh_php">
 // Tableau avec des clés nommées
 $cdn = new Collection($cdn);
</pre>
            {{ r(cdn.toArray) }}
        </div>

        <div class="col-6">
            <h3>Tableau indicé de tableaux</h3>
<pre class="sh_php">
 // Tableau indicé qui contient des entités
 $paramIn = [
     ['name' => 'Mathis', 'year' => 2007, 'genre' => 'male']
     , ['name' => 'Raphaël', 'year' => 2007, 'genre' => 'male']
     , ['name' => 'Clara', 'year' => 2009, 'genre' => 'female']
 ]
 $c3 = new Collection($cdn);
</pre>
            {{ r(c3.toArray) }}
        </div>

        <div class="col-12">
            <hr/>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <h2>Utilisation</h2>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Compter les items</h3>
            <pre class="sh_php"> echo $c1->count()</pre>
            <div class="alert alert-dark"><samp>{{ c1.count }}</samp></div>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir la valeur d'une clé</h3>
            <p class="lead">Si la valeur est un tableau, c'est une nouvelle collection qui est retournée</p>
<pre class="sh_php">
 // Pour une clé numérique
 echo $c1->get(1)
</pre>
            <div class="alert alert-dark"><samp>{{ c1.get(1) }}</samp></div>

<pre class="sh_php">
 // Pour une clé texte
 echo $cdn->get('jquery')
</pre>
            <div class="alert alert-dark">
                <code>{{ cdn.get('jquery')|getClass }}</code>
            </div>

<pre class="sh_php">
 // Pour une clé texte composée
 echo $cdn->get('jquery.link')
</pre>
            <div class="alert alert-dark">
                <samp>{{ cdn.get('jquery.link') }}</samp>
            </div>
            <hr/>
        </div>

    </div>

{% endblock %}