{% extends "layout.twig" %}
{% block content %}

    <div class="page-header">
        <h1 class="display-1">
            <small>{{ icon('wrench') }} Tools - {{ icon('folder-open') }} <code>Folder</code></small>
        </h1>
    </div>

    <div class="alert alert-info">
        Classe statique de manipulation des chaînes de caractères.
    </div>

    <div class="row ">
        <div class="col-12">
            <h3>Obtenir une instance</h3>
            <pre class="sh_php"> $folder = new Folder('/path/to/desire');</pre>
            <hr/>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <h2>Utilisation</h2>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Lister les fichiers contenus à la racine du dossier</h3>
            <pre class="sh_php"> $array = $folder->files();</pre>
            {{ r(folder.files) }}
        </div>

        <div class="col-12">
            <h3>Lister les dossiers contenus à la racine du dossier</h3>
            <pre class="sh_php"> $array = $folder->folders();</pre>
            {{ r(folder.folders) }}
        </div>

        <div class="col-12">
            <h3>Obtenir la taille du dossier</h3>
            <pre class="sh_php"> echo $folder->size();</pre>
            <div class="alert alert-dark">
                <samp>{{ folder.size }}</samp>
            </div>
        </div>

        <div class="col-12">
            <h3>Obtenir les extensions présentes à la racine du dossier</h3>
            <pre class="sh_php"> $folder->extensions();</pre>
            {{ r(folder.extensions) }}
        </div>

        <div class="col-12">
            <h3>Vérifier la présence d'un fichier à la racine</h3>
            <pre class="sh_php"> echo $folder->hasFile('composer.json');</pre>
            {{ r(folder.hasFile('composer.json')) }}
        </div>

        <div class="col-12">
            <h3>Vérifier la présence d'un dossier à la racine du dossier</h3>
            <pre class="sh_php"> echo $folder->hasFolder('src');</pre>
            {{ r(folder.hasFolder('src')) }}
        </div>

    </div>

{% endblock %}