{% extends "layout.twig" %}
{% block content %}

    <div class="page-header">
        <h1 class="display-1">
            <small>{{ icon('globe') }} API - {{ icon('font') }} <code>OneAPI</code></small>
        </h1>
    </div>

    <div class="alert alert-info">
        Représente n'importe quelle API à partir de son URL.
    </div>

    <div class="row">

        <div class="col-12">
            <h3>Obtenir une instance</h3>
            <pre class="sh_php"> $api = new OneAPI('https://randomuser.me/api');</pre>
            <hr/>
        </div>

        <div class="col-12">
            <h2>Utilisation</h2>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Exécuter l'url courante sans paramètre et obtenir le résultat dans un tableau</h3>
            <pre class="sh_php"> $api->r()->toArray()</pre>
            {{ r(api.r.toArray) }}
            <hr/>
        </div>

        <div class="col-12">
            <h3>Exécuter l'url courante avec des paramètres et obtenir la valeur d'une clé du résultat</h3>
            <pre class="sh_php"> $api->r(['results' => 3])->toArray('results');</pre>
            {{ r(api.r({results: 3}).toArray('results')) }}
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir le journal des requêtes exécutées par l'instance</h3>
            <pre class="sh_php"> $api->getLog();</pre>
            {{ r(api.getLog) }}
            <hr/>
        </div>

    </div>

{% endblock %}