<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyCore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path_for('home') }}"> {{ icon('home') }} Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddTools" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Tools">
                    {{ icon('wrench') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="ddTools">
                    <a class="dropdown-item" href="{{ path_for('tools.common') }}">{{ icon('gears') }} Common</a>
                    <a class="dropdown-item" href="{{ path_for('tools.text') }}">{{ icon('font') }} Text</a>
                    <a class="dropdown-item" href="{{ path_for('tools.collection') }}">{{ icon('table') }} Collection</a>
                    <a class="dropdown-item" href="{{ path_for('tools.folder') }}">{{ icon('folder-open') }} Folder</a>
                    <a class="dropdown-item" href="{{ path_for('tools.cmd') }}">{{ icon('terminal') }} Cmd</a>
                    <a class="dropdown-item" href="{{ path_for('tools.composer') }}"> Composer</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddApi" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="API">
                    {{ icon('globe') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="ddApi">
                    <a class="dropdown-item" href="{{ path_for('api.oneapi') }}">{{ icon('gears') }} OneAPI</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Synology</h6>
                    <a class="dropdown-item" href="{{ path_for('api.synology') }}">{{ icon('server') }} Abstraction</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddTwig" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Twig">
                    {{ icon('eye') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="ddTwig">
                    <h6 class="dropdown-header">Extensions</h6>
                    <a class="dropdown-item" href="{{ path_for('twig.debug') }}">{{ icon('bug') }} Debug</a>
                    <a class="dropdown-item" href="{{ path_for('twig.text') }}">{{ icon('font') }} Texte</a>
                    <a class="dropdown-item" href="{{ path_for('twig.array') }}">{{ icon('table') }} Tableaux</a>
                    <a class="dropdown-item" href="{{ path_for('twig.file') }}">{{ icon('file') }} Fichiers</a>
                    <a class="dropdown-item" href="{{ path_for('twig.icons') }}">{{ icon('font-awesome') }} Icônes</a>
                    <a class="dropdown-item" href="{{ path_for('twig.html') }}">{{ icon('code') }} HTML</a>
                    <a class="dropdown-item" href="{{ path_for('twig.bootstrap') }}">{{ icon('code') }} Bootstrap 4</a>
                    <a class="dropdown-item" href="{{ path_for('twig.form') }}">{{ icon('check-square-o') }} Formulaires</a>
                    <a class="dropdown-item" href="{{ path_for('twig.time') }}">{{ icon('clock-o') }} Dates</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ddAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="A propos">
                    {{ icon('question-circle') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="ddAbout">
                    <a class="dropdown-item" href="{{ urlHome }}public/coverage/index.html" target="_blank">{{ icon('bar-chart') }} Coverage</a>
                    <a class="dropdown-item" href="{{ urlHome }}public/doc/index.html" target="_blank">{{ icon('book') }} Documentation</a>
                </div>
            </li>
        </ul>
    </div>
</nav>